.about {
    padding: 0 2rem;
}

.about h3 {
    padding: 2rem 0;
    font-size: $font-h3;
}

.about P {
    color: $neutralColor2;
    line-height: 2;
    padding-bottom: 1.5rem;
    font-size: $font-p;
}