@mixin buttons($color , $hoverColor , $textColor) {
    padding: 1rem 2.8rem;
    background: $color;
    color: $textColor;
    border-radius: 30px;
    margin: 1rem 0;
    border: none;
    cursor: pointer;
    &:hover {
        background: $hoverColor;
    }
    &:disabled {
        background: $neutralColor2;
        cursor:unset;
    }
}


h2
h3,
h4{
    line-height: 1.7;
}

.container {

    max-width: 50vw;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    bottom: 7.5rem;
}

.container-logo {
    position: absolute;
    top: -1.8rem;
    left: 46%;
}

.maintext {
    text-align: center;
    padding: 1rem;
    font-size: $font-h2;
}

.subtext {
    text-align: center;
    color: $neutralColor2;
    font-size: $font-p;
    line-height: 1.7;
  
}

.container-btn {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.btn-green{
    @include buttons($primaryColor,$secondaryColor,white);
    font-weight: $font-500;
    font-size: $font-btn;
}

.bookmark-bg {
    fill: $primaryColor;
}
.bookmark-inner {
    fill:white;
}

.btn-bookmark {
    @include buttons (hsla(0, 0%, 48%,0.1), hsla(0, 0%, 48%,0.1) , $primaryColor);
    font-weight: $font-500;
    padding: 1rem;
    font-size: $font-btn;
}

.btn-bookmark > span {
    padding: 0 12px;
    position: relative;
}

.btn-bookmark > span > svg {
    position: absolute;
    width: 56px;
    height: 56px;
    left: -2.1rem;
    top: -1.2rem;
}

section {
    padding: 2rem 2.5rem;
    box-shadow: 0 0 0 1px hsla(0, 0%, 48%,0.1);
    border-radius: 10px;
    background: white; 
    margin-bottom: 1.5rem;
}

.container-info {
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-wrap: wrap;
    align-items: baseline;
}

.container-info div {
    flex: 1 0 200px;
    text-align: left; 
    margin: 1.2rem 0;

}

.container-info div h2 {
    font-size: $font-h1;
}

.container-info div p {
    font-size: $font-p;
}



.container-info div + div > * {
    margin-left: 2rem;
}

.container-info div p {
    color: $neutralColor2;
    
    
}

.container-info div:nth-child(2) {
    border-left: 1px solid hsla(0, 0%, 48% ,0.5);
    border-right: 1px solid hsla(0, 0%, 48% ,0.5);

}

.progress-bar {
    background: hsla(0, 0%, 48% ,0.2);
    width: 100%;
    height: .5rem;
    border-radius: 15px;
    margin: 1rem 0;
}
.--bar {
    width: 50%;
    background: $primaryColor;
    height: 100%;
    border-radius: 15px;
}


@media (max-width: 375px){  

    .container {
        max-width: 90vw;
        bottom: 3.5rem;
    }

    section {
        padding: 2rem 1.2rem;
    }

    .container-info div {
        text-align: center;  
    }
    
    .container-info div:nth-child(2) {
        border-left: none;
        border-right: none;
        
        padding: 1.5rem 0;
        margin: 0;

    }
    .container-info div + div > * {
       margin: 0;
    }

    .btn-bookmark {
        padding: 1rem .5rem;
        background: white;
    }

    .btn-bookmark > span + span {
        display: none;
    }
}

