@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
h2
h3,
h4 {
  line-height: 1.7;
}

.container {
  max-width: 50vw;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  bottom: 7.5rem;
}

.container-logo {
  position: absolute;
  top: -1.8rem;
  left: 46%;
}

.maintext {
  text-align: center;
  padding: 1rem;
  font-size: clamp(1.3rem, 1.9vw, 2rem);
}

.subtext {
  text-align: center;
  color: #7a7a7a;
  font-size: clamp(1rem, 1.14vw, 1.1rem);
  line-height: 1.7;
}

.container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.btn-green {
  padding: 1rem 2.8rem;
  background: #3cb4ac;
  color: white;
  border-radius: 30px;
  margin: 1rem 0;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.btn-green:hover {
  background: #147b74;
}

.btn-green:disabled {
  background: #7a7a7a;
  cursor: unset;
}

.bookmark-bg {
  fill: #3cb4ac;
}

.bookmark-inner {
  fill: white;
}

.btn-bookmark {
  padding: 1rem 2.8rem;
  background: rgba(122, 122, 122, 0.1);
  color: #3cb4ac;
  border-radius: 30px;
  margin: 1rem 0;
  border: none;
  cursor: pointer;
  font-weight: 500;
  padding: 1rem;
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.btn-bookmark:hover {
  background: rgba(122, 122, 122, 0.1);
}

.btn-bookmark:disabled {
  background: #7a7a7a;
  cursor: unset;
}

.btn-bookmark > span {
  padding: 0 12px;
  position: relative;
}

.btn-bookmark > span > svg {
  position: absolute;
  width: 56px;
  height: 56px;
  left: -2.1rem;
  top: -1.2rem;
}

section {
  padding: 2rem 2.5rem;
  -webkit-box-shadow: 0 0 0 1px rgba(122, 122, 122, 0.1);
          box-shadow: 0 0 0 1px rgba(122, 122, 122, 0.1);
  border-radius: 10px;
  background: white;
  margin-bottom: 1.5rem;
}

.container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container-info div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  text-align: left;
  margin: 1.2rem 0;
}

.container-info div h2 {
  font-size: clamp(1.7rem, 2.2vw, 2.5rem);
}

.container-info div p {
  font-size: clamp(1rem, 1.14vw, 1.1rem);
}

.container-info div + div > * {
  margin-left: 2rem;
}

.container-info div p {
  color: #7a7a7a;
}

.container-info div:nth-child(2) {
  border-left: 1px solid rgba(122, 122, 122, 0.5);
  border-right: 1px solid rgba(122, 122, 122, 0.5);
}

.progress-bar {
  background: rgba(122, 122, 122, 0.2);
  width: 100%;
  height: .5rem;
  border-radius: 15px;
  margin: 1rem 0;
}

.--bar {
  width: 50%;
  background: #3cb4ac;
  height: 100%;
  border-radius: 15px;
}

@media (max-width: 375px) {
  .container {
    max-width: 90vw;
    bottom: 3.5rem;
  }
  section {
    padding: 2rem 1.2rem;
  }
  .container-info div {
    text-align: center;
  }
  .container-info div:nth-child(2) {
    border-left: none;
    border-right: none;
    padding: 1.5rem 0;
    margin: 0;
  }
  .container-info div + div > * {
    margin: 0;
  }
  .btn-bookmark {
    padding: 1rem .5rem;
    background: white;
  }
  .btn-bookmark > span + span {
    display: none;
  }
}

.nav-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(20%, rgba(236, 236, 236, 0))), url(../images/image-hero-desktop.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(236, 236, 236, 0) 20%), url(../images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30vmax;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2.5rem .5rem;
  width: 85%;
  margin: 0 auto;
  color: white;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  z-index: 2;
}

.logo > h1 {
  font-size: clamp(1.7rem, 2.2vw, 2.5rem);
}

.hamburger {
  display: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  list-style-type: none;
  max-width: 100%;
}

.nav-list li {
  padding: .6rem;
}

@media (max-width: 375px) {
  .nav-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(20%, rgba(236, 236, 236, 0))), url(../images/image-hero-mobile.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(236, 236, 236, 0) 20%), url(../images/image-hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vmax;
  }
  nav {
    padding: 1.5rem .5rem;
    width: 90%;
  }
  .hamburger {
    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.3em;
    height: 1.3em;
    display: block;
  }
  .hamburger-close {
    background-image: url(../images/icon-close-menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.3em;
    height: 1.3em;
    display: block;
  }
  .nav-headers {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(236, 236, 236, 0)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(236, 236, 236, 0));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 0 1.1rem;
    z-index: 1;
    display: none;
  }
  .nav-list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 5rem;
    padding: 0;
    background: white;
    border-radius: 7px;
    color: black;
  }
  .nav-list li {
    padding: 1.5rem;
    font-weight: 500;
  }
  .nav-list li:nth-child(2) {
    border-top: 1px solid rgba(122, 122, 122, 0.3);
    border-bottom: 1px solid rgba(122, 122, 122, 0.3);
  }
}

.about {
  padding: 0 2rem;
}

.about h3 {
  padding: 2rem 0;
  font-size: clamp(1.1rem, 1.5vw, 1.8rem);
}

.about P {
  color: #7a7a7a;
  line-height: 2;
  padding-bottom: 1.5rem;
  font-size: clamp(1rem, 1.14vw, 1.1rem);
}

.projects-container {
  padding: 0 2rem;
}

.project {
  padding: 1.5rem 2rem;
  -webkit-box-shadow: 0 0 0 1px rgba(122, 122, 122, 0.3);
          box-shadow: 0 0 0 1px rgba(122, 122, 122, 0.3);
  border-radius: 6px;
  margin: 1.5rem 0;
  background: white;
}

.project-header, .project-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-header > h4 {
  margin: .5rem 0;
  font-size: clamp(1.07rem, 1.1vw, 1.5rem);
}

.project-header span {
  color: #3cb4ac;
  font-weight: 500;
  font-size: clamp(1.07rem, 1.1vw, 1.5rem);
}

.project-text {
  margin: 1.5rem 0;
  color: #7a7a7a;
  font-size: clamp(1rem, 1.14vw, 1.1rem);
  line-height: 1.7;
}

.project-footer > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-footer > div > h1 {
  margin-bottom: .5rem;
  margin-right: .5rem;
  font-size: clamp(1.7rem, 2.2vw, 2.5rem);
}

.project-footer > div > small {
  color: #7a7a7a;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Commissioner', sans-serif;
}

body {
  background: rgba(122, 122, 122, 0.2);
}

.show {
  display: block;
}

.hide {
  display: none;
}
/*# sourceMappingURL=App.css.map */